.main-content {
  display: flex;
  justify-content: space-between;
  gap: 2rem; /* optional spacing between columns */
}

.main-content__left-column,
.main-content__right-column {
  flex: 1; /* each takes up equal space */
}

header {
  text-align: center;
  max-height: none;
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  position: fixed;
  max-height: 15%;
}

header img {
    object-fit: contain;
    padding: 10px;
    width: 100px;
    flex: 0 1 auto;
}

.cookie-card, .ice-cream-card {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.cookie-card__text, .ice-cream-card__text {
  display: flex;
  flex-direction: column;
}

.cart {
  display: flex;
  flex-direction: row;
}

.cart__list__li {
  text-align: left;
}

.cart__icon {
  display: block;
  padding-right: 10px;
}

.cart__list {
  max-height: 200px;
  overflow-y: auto;
  width: 200px;
  padding: 5px;
}

.cart__list__total {
  text-align: right;
}

.card__img__button__container {
  display: flex;
  flex-direction: column;
}

.card__button {
  padding: 5px;
}